Repository AdrianRoszak/alicja-maksymowicz-sanity-studio: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, type-check

lefthook.yml:

# Lefthook configuration for Sanity Studio with Biome and conventional commits
# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    # Lint and format with Biome
    lint-biome:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: pnpm biome check --write --unsafe {staged_files}
      stage_fixed: true
      
    # Check types with TypeScript
    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit
      
commit-msg:
  commands:
    # Validate commit message format
    commitlint:
      run: pnpm commitlint --edit {1}

pre-push:
  commands:
    # Final lint check before push
    lint:
      run: pnpm lint
      
    # Build check
    build:
      run: pnpm build

feat: create new content type
  schema-types/content-types/beneficiary.ts
Due: lint-biome, type-check

feat: create new content type
  schema-types/content-types/course.ts
  schema-types/content-types/index.ts
  schema-types/creators/create-section-block.ts
  schema-types/creators/section-block-config.ts
Due: lint-biome, type-check

refactor: update deps
  package.json
  pnpm-lock.yaml
Due: lint-biome

feat: create template option
  schema-types/block-types/benefits-block.ts
  schema-types/block-types/index.ts
  schema-types/content-types/course.ts
  schema-types/creators/section-block-config.ts
  src/structure.ts
Due: lint-biome, type-check

refactor: enable adding array of images
  schema-types/content-types/competency.ts
  schema-types/creators/section-block-config.ts
  schema-types/page-types/about-me.ts
Due: lint-biome, type-check

feat: update sanity to v5
  package.json
  pnpm-lock.yaml
Due: lint-biome

feat: update other deps
  package.json
  pnpm-lock.yaml
Due: lint-biome

feat: pin node 22
  package.json
Due: lint-biome

refactor: update tsconfig
  schema-types/creators/README.md
  src/structure.ts
  tsconfig.json
Due: lint-biome, type-check

feat: create and translate section template
  sanity.config.ts
Due: lint-biome, type-check

ci: create ai powered workflow
  .env.example
  .github/workflows/update-deps.yml
  docs/github-actions.md
  docs/secrets.md
Due: none

refactor: update biome schema
  biome.json
Due: lint-biome

refactor: update biome
  .github/workflows/update-deps.yml
  .gitignore
  biome.json
  package.json
Due: lint-biome

refactor: update biome
  pnpm-lock.yaml
Due: none

chore: update low-risk dependencies
  package.json
  pnpm-lock.yaml
Due: lint-biome

ci: update workflow
  .github/workflows/update-deps.yml
Due: none

chore: update deps
  .gitignore
  biome.json
  package.json
  pnpm-lock.yaml
Due: lint-biome

chore: update gitignore
  .gitignore
Due: none

chore: add pnpm lock
  .gitignore
  pnpm-lock.yaml
Due: none

feat: apply field level translation
  config/i18n.ts
  config/index.ts
  package.json
  pnpm-lock.yaml
  sanity.config.ts
  schema-types/content-types/hero.ts
  src/components/document-language-banner.tsx
  src/components/form-input-wrapper.tsx
  src/components/index.ts
  src/components/internationalized-array-input.tsx
  src/components/internationalized-array-text-input.tsx
  src/components/language-context.tsx
  src/components/language-tabs.tsx
  src/components/studio-layout.tsx
  tsconfig.json
Due: lint-biome, type-check

feat: implement validation
  schema-types/content-types/hero.ts
  tsconfig.json
  utils/index.ts
  utils/validation.ts
Due: lint-biome, type-check

chore: backup script command
  .gitignore
  package.json
Due: lint-biome

refactor: remove en from required langs
  config/i18n.ts
Due: lint-biome, type-check

refactor: add intl field, deprecate rest
  schema-types/block-types/image-block.ts
  schema-types/block-types/link-block.ts
  schema-types/content-types/hero.ts
  src/components/document-language-banner.tsx
  utils/i18n.ts
  utils/index.ts
Due: lint-biome, type-check
