Repository AdrianRoszak/alicja-maksymowicz-sanity-studio: changes, and which lefthook commands are due for each by the changed paths.
All: lint-biome, type-check

lint-biome:
  run: pnpm biome check --write --unsafe {staged_files}
  stage_fixed: true

type-check:
  run: pnpm tsc --noEmit

feat: add comprehensive GitHub Actions workflows
  .github/GITHUB_ACTIONS.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  .github/workflows/update-deps.yml
  README.md
Due: none

fix: update GitHub Actions workflow configurations
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  .github/workflows/update-deps.yml
Due: none

fix: remove build step from pre-push hook
  lefthook.yml
Due: none

fix: update GitHub Actions workflows to properly support pnpm
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  .github/workflows/update-deps.yml
Due: none

docs: update GitHub Actions troubleshooting guide
  .github/GITHUB_ACTIONS.md
Due: none

feat: update sanity configuration
  lib/env.ts
  sanity.cli.ts
  sanity.config.ts
Due: lint-biome, type-check

docs: add comprehensive ADR-based documentation structure
  README.md
  docs/README.md
  docs/adr/001-replace-eslint-with-biome.md
  docs/adr/002-adopt-lefthook-for-git-hooks.md
  docs/adr/003-implement-conventional-commits.md
  docs/adr/004-centralize-environment-configuration.md
  docs/adr/005-github-actions-ci-cd-pipeline.md
  docs/adr/006-pnpm-as-package-manager.md
  docs/adr/README.md
  docs/deployment-guide.md
  docs/development-setup.md
  docs/troubleshooting.md
Due: none

ci: change vars to secrets
  .github/workflows/deploy.yml
Due: none

chore(ci): remove CodeQL security workflow for private repo
  .github/workflows/security.yml
Due: none

chore(ci): source Sanity config from secrets + add docs/secrets.md
  .github/workflows/ci.yml
  docs/secrets.md
Due: none

docs: consolidate GitHub Actions and commit convention guides into docs/; remove duplicates
  COMMIT_CONVENTION.md
  docs/conventional-commits.md
  docs/github-actions.md
Due: none

docs: update README links to docs/
  README.md
Due: none

docs: add git-flow guide and link from README
  README.md
  docs/git-flow.md
Due: none

chore(gitflow): document configured branches and prefixes
  docs/git-flow.md
Due: none

ci: run PR checks only for feature/* → develop + add ADR-007 for git-flow
  .github/workflows/ci.yml
  docs/adr/007-adopt-git-flow.md
Due: none

chore: normalize schema file names to kebab-case and reorganize schemaTypes into content-types
  sanity.config.ts
  schemaTypes/content-types/author.ts
  schemaTypes/content-types/block-content.ts
  schemaTypes/content-types/blog-post.ts
  schemaTypes/content-types/category.ts
  schemaTypes/content-types/index.ts
  schemaTypes/content-types/post.ts
  schemaTypes/content-types/seo-settings.ts
  schemaTypes/index.ts
  src/structure.ts
Due: lint-biome, type-check

build: sanity config
  sanity.config.ts
  test-file.ts
Due: lint-biome, type-check

refactor: provide translations
  schemaTypes/content-types/author.ts
  schemaTypes/content-types/block-content.ts
  schemaTypes/content-types/blog-post.ts
  schemaTypes/content-types/category.ts
  schemaTypes/content-types/post.ts
  schemaTypes/content-types/seo-settings.ts
Due: lint-biome, type-check

build: biome config
  biome.json
Due: lint-biome

refactor: clean code
  schemaTypes/content-types/blog-post.ts
Due: lint-biome, type-check

feat: a lot of changes
  biome.json
  lefthook.yml
  pnpm-lock.yaml
  sanity.cli.ts
  sanity.config.ts
  schemaTypes/block-types/index.ts
  schemaTypes/block-types/seo-block.ts
  schemaTypes/content-types/author.ts
  schemaTypes/content-types/block-content.ts
  schemaTypes/content-types/blog-post.ts
  schemaTypes/content-types/category.ts
  schemaTypes/content-types/index.ts
  schemaTypes/content-types/post.ts
Due: lint-biome, type-check

fix(blog-post): add missing description to mainImage field for schema utility compliance
  sanity.config.ts
  schemaTypes/content-types/blog-post.ts
  src/lib/types.ts
Due: lint-biome, type-check

test(schema): enforce description for blogPost fields, remove Jest, ignore any lint
  package.json
  pnpm-lock.yaml
  sanity.config.ts
  test/schemaDescription.test.ts
  vitest.config.ts
Due: lint-biome, type-check

test: biome compliance and schema naming enforcement
  package.json
  schemaTypes/block-types/seo-block.ts
  schemaTypes/content-types/author.ts
  schemaTypes/content-types/blog-post.ts
  schemaTypes/content-types/category.ts
  test/schemaName.test.ts
Due: lint-biome, type-check

test: use Sanity FieldDefinition for schema validation
  test/schemaName.test.ts
Due: lint-biome, type-check

chore: rename test files to use hyphen separator
  test/schema-description.test.ts
  test/schema-names.test.ts
Due: lint-biome, type-check

docs: move test documentation to docs/testing.md and update README reference
  README.md
  docs/testing.md
Due: none

ci: update test workflow to use Node.js 22
  .github/workflows/test-on-pr-to-develop.yml
Due: none

ci: only block on high/critical vulnerabilities in audit
  .github/workflows/ci.yml
  package.json
Due: lint-biome

ci: update workflow
  .github/workflows/test-on-pr-to-develop.yml
  pnpm-lock.yaml
Due: none

feat(structure): add authors to admin panel
  src/structure.ts
Due: lint-biome, type-check

test(schema): add missing field descriptions for compliance
  schemaTypes/block-types/seo-block.ts
  schemaTypes/content-types/author.ts
  schemaTypes/content-types/category.ts
Due: lint-biome, type-check

refactor(schema): rename schemaTypes to schema-types and update imports
  sanity.config.ts
  schema-types/block-types/index.ts
  schema-types/block-types/seo-block.ts
  schema-types/content-types/author.ts
  schema-types/content-types/block-content.ts
  schema-types/content-types/blog-post.ts
  schema-types/content-types/category.ts
  schema-types/content-types/index.ts
  schema-types/content-types/post.ts
  schema-types/content-types/seo-settings.ts
  schema-types/index.ts
  test/schema-description.test.ts
  test/schema-names.test.ts
Due: lint-biome, type-check

chore(schema): remove redundant post schema and confirm exports
  schema-types/content-types/index.ts
  schema-types/content-types/post.ts
Due: lint-biome, type-check

feat(blog-post): update excerpt warning to Polish and add helpful defaults/descriptions
  schema-types/content-types/blog-post.ts
Due: lint-biome, type-check

chore: remove @sanity/asset-utils and update image-block validation
  schema-types/block-types/image-block.ts
  schema-types/block-types/index.ts
  schema-types/content-types/blog-post.ts
  schema-types/content-types/index.ts
  schema-types/content-types/seo-settings.ts
  schema-types/index.ts
  schemaTypes/block-types/index.ts
  schemaTypes/content-types/block-content.ts
  schemaTypes/content-types/blog-post.ts
  schemaTypes/content-types/index.ts
  schemaTypes/content-types/post.ts
  schemaTypes/content-types/seo-settings.ts
  schemaTypes/index.ts
  src/structure.ts
Due: lint-biome, type-check

chore(test): refactor imports to use absolute path aliases
  sanity.cli.ts
  sanity.config.ts
  schema-types/block-types/image-block.ts
  schema-types/content-types/blog-post.ts
  schemaTypes/block-types/seo-block.ts
  schemaTypes/content-types/author.ts
  schemaTypes/content-types/category.ts
  test/schema-names.test.ts
  tsconfig.json
Due: lint-biome, type-check

chore: organize imports and apply Biome fixes
  schema-types/block-types/image-block.ts
Due: lint-biome, type-check

chore: enforce absolute import paths with Biome config
  biome.json
Due: lint-biome

feat: add catalog-info to integrate with backstage
  catalog-info.yaml
Due: none

Path conditions:
  lint-biome: any of: *.{js,jsx,ts,tsx,json}
  type-check: any of: *.{ts,tsx}
